.form-row div{
    width: 50%;
}

label{
    width: 100%;
}

label p{
    margin: 0;
    font-size: 22px;
}

.download{
    font-size: 18px;
}

.input-style{
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
    margin-bottom: 15px;
    outline: none;
    transition: .8s;
}

.input-style:focus{
    background-color: rgb(233, 233, 233);
    border-bottom: 1px solid rgb(202, 202, 1);
}

textarea{
    width: 100%;
    max-height: 140px;
    outline: none;
    transition: .8s;
}

textarea:focus{
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(202, 202, 1);
}