@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans|Roboto+Slab&display=swap');

.section{
    font-family: 'Bitter';
    color: #1a1b1b;
    font-size: 65px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}
@media(max-width: 400px){
    .section{
        font-size: 42px;
    }
}

.logo:hover{
    text-decoration: none;
}

.listMenu{
    margin-top: 40px;
}

.listMenu li a{
    color: #1a1b1b;
}

.title1{
    font-family: 'Bitter';
}

.textSite{
    font-family: 'Open Sans';
    font-size: 20px;
}

