p{
    font-family: 'Open Sans';
    font-size: 22px;
    text-align: left;
}
.chema{
    list-style: none;
    padding-left: 15px;
}
.chema li p img{
    margin-right: 5px;
}
.advantage{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}
.advantage img{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.advantage div h5{
    font-family: 'Roboto Slab';
    font-size: 35px;
}
.advantage div p{
    font-size: 20px;
}
.formFon{
    background: url('img/callCenter.jpg');
    background-size: cover;
    height: 600px;
}
.formFon_form{
    display: flex;
    flex-direction: column;
}
.formFon_form input{
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
}
.formFon_form button{
    background-color: yellow;
    border: 0;
    width: 50%;
    margin: 10px auto 0;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#using{
    margin: 25px 0;
    background-color: #f5f5f5;
}

.using-spisok{
    margin-top: 30px;
    list-style: none;
    padding-left: 15px;
}
.using-spisok li{
    font-family: 'Open Sans';
    font-size: 24px;
    padding-top: 6px;
}
.using-spisok li:before{
    content: '— ';
}