p{
    font-size: 22px;
    text-align: left;
}
.chema{
    list-style: none;
    padding-left: 15px;
}
.chema li p img{
    margin-right: 5px;
}
.advantage{
    box-sizing: border-box;
    display: flex;
}
.advantage div h5{
    font-size: 35px;
}
.advantage div p{
    font-size: 22px;
}
.formFon{
    background: url('img/callCenter.jpg');
    background-size: cover;
    height: 600px;
}
.formFon_form{
    display: flex;
    flex-direction: column;
}
.formFon_form input{
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
}
.formFon_form button{
    background-color: yellow;
    border: 0;
    width: 50%;
    margin: 10px auto 0;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}